<html lang="zh-cn">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css', _external=True, _scheme='https') }}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='bootstrap-toaster.min.css', _external=True, _scheme='https') }}"
          rel="stylesheet">

    <title>最新评论</title>
</head>
<body>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js', _external=True, _scheme='https') }}"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous" async>
</script>
<script src="{{ url_for('static', filename='bootstrap-toaster.min.js', _external=True, _scheme='https') }}" async>
</script>
<script src="{{ url_for('static', filename='bilibili-guardian.js', _external=True, _scheme='https') }}">
</script>
{% include 'script.html' %}
{% include 'nav.html' %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">内容 ID</th>
        <th scope="col">内容标题</th>
        <th scope="col">用户 ID</th>
        <th scope="col">用户名</th>
        <th scope="col">评论时间</th>
        <th scope="col">评论内容</th>
        <th scope="col" class="bilibili">删除</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments.items %}
        <tr {% if comment.guardian_status == 2 %} class="table-danger" {% endif %} >

            <th scope="row">{{ comment.oid }}</th>
            <th><a href="{{ comment.get_object_link(comment.type_, comment.oid, comment.rpid) }}"
                   target="_blank">{{ comment.oname }}</a></th>
            <th>{{ comment.mid }}</th>
            <th>{{ comment.mname }}</th>
            <th>{{ comment.create_time_utc8() }}</th>
            <th><a href="{{ comment.get_link(comment.type_, comment.oid, comment.rpid) }}"
                   target="_blank">{{ comment.message }}</a></th>
            <th scope="col" class="bilibili">
                <button
                        type="button"
                        class="btn btn-warning"
                        onclick='deleteComment(
                                {{ comment.type_ }},
                                "{{ comment.oid | string }}",
                                "{{ comment.rpid | string }}",
                                {{ comment | string | tojson }}
                                )'
                >
                    删除
                </button>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if comments.has_prev %}
    <a href="#"
       data-href="{{ url_for('comments', _external=True, _scheme='https', pn=comments.prev_num, type=type_) }}">&lt;&lt;
        更新评论</a>{% else %}
    &lt;&lt; 更新评论{% endif %} |
{% if comments.has_next %}
    <a href="#"
       data-href="{{ url_for('comments', _external=True, _scheme='https', pn=comments.next_num, type=type_) }}">更旧评论
        &gt;&gt;</a>{% else %}
    更旧评论 &gt;&gt;{% endif %}

</body>
</html>