<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>最新评论</title>
</head>
<body>
<script src="/static/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">内容 ID</th>
        <th scope="col">内容标题</th>
        <th scope="col">用户 ID</th>
        <th scope="col">用户名</th>
        <th scope="col">评论时间</th>
        <th scope="col">评论内容</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments.items %}
        <tr>

            <th scope="row">{{ comment.oid }}</th>
            <th><a href="{{ comment.get_object_link(comment.type_, comment.oid, comment.rpid) }}"
                   target="_blank">{{ comment.oname }}</a></th>
            <th>{{ comment.mid }}</th>
            <th>{{ comment.mname }}</th>
            <th>{{ comment.ctime }}</th>
            <th><a href="{{ comment.get_link(comment.type_, comment.oid, comment.rpid) }}"
                   target="_blank">{{ comment.message }}</a></th>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% if comments.has_prev %}
    <a href="{{ url_for('comments', page=comments.prev_num) }}">&lt;&lt; 更新评论</a>{% else %}
    &lt;&lt; 更新评论{% endif %} |
{% if comments.has_next %}
    <a href="{{ url_for('comments', page=comments.next_num) }}">更旧评论 &gt;&gt;</a>{% else %}
    更旧评论 &gt;&gt;{% endif %}

</body>
</html>