<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css', _external=True, _scheme='https') }}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>最新评论</title>
</head>
<body>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js', _external=True, _scheme='https') }}"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>
<script>
    document.querySelector("body").addEventListener('click', function (e) {
        const anchor = e.target.closest('a');
        if (anchor !== null) {
            if (!anchor.hasAttribute("data-href")) return;
            if (window.location.href.indexOf("bilibili.com") > -1) {
                fetch(anchor.dataset.href)
                    .then(resp => resp.text())
                    .then(data => {
                        document.open();
                        document.write(data);
                        document.close()
                    });
            } else {
                window.location.href = anchor.dataset.href;
            }
        }
    }, false);
</script>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for nav_type, nav_name in [("video", "视频评论"), ("dynamic", "动态评论")] %}
                    <li class="nav-item">
                        {% set url = url_for('comments', _external=True, _scheme='https', pn=1, type=nav_type) %}
                        {% if nav_type == type_ %}
                            <a class="nav-link active" aria-current="page" href="#" data-href="{{ url }}">
                        {% else %}
                            <a class=" nav-link" href="#" data-href="{{ url }}">
                        {% endif %}
                        {{ nav_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">内容 ID</th>
        <th scope="col">内容标题</th>
        <th scope="col">用户 ID</th>
        <th scope="col">用户名</th>
        <th scope="col">评论时间</th>
        <th scope="col">评论内容</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments.items %}
        <tr>

            <th scope="row">{{ comment.oid }}</th>
            <th><a href="{{ comment.get_object_link(comment.type_, comment.oid, comment.rpid) }}"
                   target="_blank">{{ comment.oname }}</a></th>
            <th>{{ comment.mid }}</th>
            <th>{{ comment.mname }}</th>
            <th>{{ comment.ctime }}</th>
            <th><a href="{{ comment.get_link(comment.type_, comment.oid, comment.rpid) }}"
                   target="_blank">{{ comment.message }}</a></th>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% if comments.has_prev %}
    <a href="#" data-href="{{ url_for('comments', _external=True, _scheme='https', pn=comments.prev_num, type=type_) }}">&lt;&lt;
        更新评论</a>{% else %}
    &lt;&lt; 更新评论{% endif %} |
{% if comments.has_next %}
    <a href="#" data-href="{{ url_for('comments', _external=True, _scheme='https', pn=comments.next_num, type=type_) }}">更旧评论
        &gt;&gt;</a>{% else %}
    更旧评论 &gt;&gt;{% endif %}

</body>
</html>